$color1: #1E494A;
$color2: white;
$color3: rgb(250, 250, 223);
$color4: #F7E9B2;

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: $color1;
    transition: all 600ms ease;
}

.heroSection{
    margin: auto;
    display: flex;
    min-height: max-content;
    color: $color2;
    padding: 4rem;
    max-width: 1300px;
}

.left{
    width: 50%;
}

.right{
    width: 50%;
    height: max-content;
    overflow: hidden;
    img{
        margin-top: 50px;
        width: 90%;
        border: 0;
        transform: scale(1.1);
        overflow: hidden;
    }
}

.logo{
    position: relative;
    &_text{
        position: sticky;
        font-size: 2.5rem;
        font-weight: 500;
        z-index: 999;
        color: $color3;
        &::first-letter{
            font-size: 6.5rem;
            font-weight: 400;
            z-index: 999;
        }
    }

    &_bgDrop{
        position: absolute;
        font-size: 6rem;
        font-weight: 800;
        color: $color3;
        -webkit-text-stroke: 1px $color1;
        z-index: 99;
    }
}

.header{
    margin-top: 50px;
    font-size: 2.5rem;
    width: 70%;
    font-weight: 400;
    line-height: 2.7rem;
}

.subHeader{
    margin-top: 30px;
    color: $color4;
    font-size: 1rem;
    width: 100%;
    font-weight: 300;
}

.seperator{
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.0) 100%);
    height: 2px;
    width: 90%;
    margin-top: 12px;
}

.seperatorGreen {
    background: linear-gradient(90deg, #6a6a6a 100%, rgba(255, 255, 255, 0.0) 100%);
    height: 2px;
    width: 90%;
    margin-top: 12px;
}

.callToAction{
    border-radius: 2px;
    margin-top: 40px;
    background: $color3;
    box-shadow: 4px 5px 13px 0px rgba(15, 17, 31, 0.70);
    width: 200px;
    height: 50px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;

    &:hover{
        opacity: .6;
        cursor: pointer;
    }
}

.supportedTech{
    display: block;
    align-items: baseline;
    margin-top: 40px;
    color: $color3;
    div{
        margin-right: 30px;
        padding-bottom: 5px;
    }
    img{
        width: 40px;
        margin-right: 20px;
        opacity: .4;
        &:hover{
            cursor: pointer;
            opacity: 1;
        }
    }
}

.socialIcons{
    display: flex;
    margin-top: 10px;
    img{
        width: 40px;
        opacity: .4;
        margin-left: 20px;
    
        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }
}

.beforeAfter{
    display: flex;
    width: 100%;
    padding: 3rem 4rem 4rem 4rem;
    max-width: 1300px;
}

.before, .after{
    width: 50%;
}

.title{
    font-size: 1.4rem;
    color: rgb(207, 207, 207);
    margin-bottom: 40px;
    &::first-letter{
        font-size: 1.8rem;
    }
}

.step{
    width: 75%;
    margin-bottom: 20px;
    color: rgb(207, 207, 207);
    display: flex;
    align-items: center;
    &::first-letter {
        font-size: 1.6rem;
    }
}

.bullet{
    min-width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 50%;
    background: $color3;
    color: $color1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
    img{
        width: 25px;
    }
}

.lastSection{
    display: flex;
    width: 100%;
    padding: 3rem 4rem 4rem 4rem;
    max-width: 1300px;
}

.contactUs{
    width: 50%;
    a{
        color: $color4;
        &:hover{
            opacity: .5;
        }
    }
}

.socials{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.title2{
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: rgb(207, 207, 207);
}

.pricing{
    width: 100%;
    padding: 3rem 4rem 4rem 4rem;
    max-width: 1300px;
}

.pricingBox{
    width: 100%;
    background: #FFF;
    border-radius: 12px;
    padding: 2rem;

    &_one{
        font-size: 1.4rem;
        font-weight: 600;
        color: $color1;
        input{
            all: unset;
            margin-top: 25px;
            margin-bottom: 20px;
            width: 500px;
            &::placeholder{
                opacity: .5;
            }
        }
    }

    &_two{
        width: 100%;
        display: flex;
    }

    &_two_left{
        width: 70%;
    }

    &_two_left_1{
        display: flex;
        align-items: center;
        width: 90%;
        margin-top: 24px;
        margin-bottom: 24px;
        div:nth-child(1){
            width: 40%;
            color: #6a6a6a;
            font-weight: 500;
            font-size: .7rem;
            text-transform: uppercase;
        }
    }

    &_two_left_2{
        display: flex;
        flex-wrap: wrap;
        .step{
            width: 300px;
            color: $color1;
            font-weight: 500;
        }
    }

    &_two_right {
        width: 30%;
        background: $color1;
        border-radius: 12px;
        padding: 2rem;
        color: #F7E9B2;
    }

    &_apiCount{
        font-size: 1rem;
    }

    &_apiRate{
        font-size: 1.2rem;
        height: 60px;
    }
}

@media only screen and (max-width: 768px) {
    .heroSection {
        padding: 2rem;
        display: block;
    }

    .left{
        width: 100%;
    }

    .right{
        width: 100%;
    }

    .logo{
        img{
            width: 200px;
        }
    }

    .header{
        width: 100%;
        margin-top: 40px;
        font-size: 2.2rem;
        line-height: 2.4rem;
    }

    .callToAction{
        width: 100%;
    }

    .supportedTech{
        img{
            width: 30px;
        }
    }

    .right{
        display: flex;
        justify-content: center;
        img{
            width: 100%;
            margin-top: 20px;
        }
    }

    .beforeAfter {
        display: block;
        padding: 2rem;
    }

    .before{
        width: 100%;
        margin-bottom: 60px;
    }

    .after {
        width: 100%;
        margin-bottom: 60px;
    }

    .title {
        font-size: 1.3rem;
    }

    .step {
        width: 100%;
    }

    .lastSection {
        display: block;   
        padding: 2rem;
    }

    .socials{
        width: 100%;
        align-items: flex-start;
        margin-top: 50px
    }

    .socialIcons{
        display: flex;
        img{
            margin-left: unset;
            margin-right: 20px;
            width: 30px;
        }
    }


    .pricing{
        padding: 2rem;
    }
    .pricingBox {
        width: 100%;
        background: #FFF;
        border-radius: 12px;
        padding: 2rem;

        &_one {
            font-size: 1.2rem;
            input {
                width: 100%;
            }
        }

        &_two {
            width: 100%;
            display: block;
        }

        &_two_left {
            width: 100%;
        }

        &_two_left_1 {
            width: 100%;
            margin-top: 24px;
            margin-bottom: 14px;

            div:nth-child(1) {
                width: 100%;
            }
        }

        &_two_left_2 {
            .step {
                width: 100%;
                font-size: .9rem;
            }
            .bullet{
                min-width: 30px;
                height: 30px;
                img{
                    width: 15px;
                }
            }
        }

        &_two_right {
            width: 100%;
            background: $color1;
            border-radius: 12px;
            padding: 1.5rem;
        }

        &_apiCount {
            font-size: 1rem;
        }

        &_apiRate {
            font-size: 1.2rem;
            height: 60px;
        }
    }
}


@import url('https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap');

